{% extends "layout.html" %}
{% block content %}
    <form method="POST" enctype="multipart/form-data" action="/upload">
        <h2>Gallery Name: </h2>
        <input type="text" name="gallery_name">
        <input name="myfile[]" type="file" multiple>
        <div>
            <button type="submit">Submit</button>
        </div>
    </form>
{% endblock %}